* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: 75%;
  margin: auto;
}

header {
  background-color: #b3b8fa;
}

.logo {
  display: block;
  margin-left: 12%;
}

.navbar {
  background-color: rgb(73, 73, 241);
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
  justify-content:flex-end;
}

#menu {
  position: absolute;
  align-items: center;
  justify-content: space-between;
}

.links{
  display: inline;
  margin-right: 50px;
}
a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.btn{
  position: relative;
  left: 80vh;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(177, 177, 184);
}


footer{
  position: sticky;
  bottom: 5px;
}